<ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
	<li [ngbNavItem]="1">
		<button ngbNavLink> Orders </button>
		<ng-template ngbNavContent>
			<app-order></app-order>
		</ng-template>
	</li>
	<li [ngbNavItem]="2">
		<button ngbNavLink>Inventory</button>
		<ng-template ngbNavContent>
			<app-inventory></app-inventory>
		</ng-template>
	</li>
	<li [ngbNavItem]="3">
		<button ngbNavLink> Waste </button>
		<ng-template ngbNavContent>
			<app-waste></app-waste>
		</ng-template>
	</li>
</ul>

<div [ngbNavOutlet]="nav" class="mt-2"></div>
